:root {
  --heavy: #151542;
  --deLorean: #77777d;
  --88MPH: #e9eaeb;
  --GreatScott : #3db9d1;
  --FluxCapacitor: #ffb219;
  --121Gigawatts: #f22727;

}

.body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  font-size: 1.3rem;
  color: var(--deLorean);
  display: flex;
  flex-direction: column;
  min-height: 200vh;
  background-repeat: no-repeat;
}

.h1 {
  font-size: 2.5rem;
}

.center {
  text-align: center;
}

.a {
  text-decoration: none;
}

.a:hover {
  text-decoration: underline;
}

.header {
  background: transparent;
  padding: 30px 0;
  z-index: 1000;
  width: 100%;
  position: absolute;
  
}

.header__links {
  font-size: 1.5rem;
  color: var(--FluxCapacitor);
}

.main__a {
  color: var(--GreatScott);
}

.flexbox {
  max-width: 1200px;
  margin: 0 auto;
  box-sizing: border-box;
  
}

.header__nav {
  display: flex;
}

.header__rightlink {
  margin-left: 24px;
}

.header__logo {
  margin-right: auto;
  text-transform: uppercase;
}

.main-inside {
  background-color: var(--GreatScott);
}

.main__hero {
  height: 800px;
  background-image: url("photos1/hero_image1.jpeg");
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: left;
  text-align: left;
 
}

.logo {
  width: 400px;
  margin-top: 450px;
  margin-left: 120px;
}

hr {
  margin-bottom: 3em;
  margin-left: auto;
  margin-right: auto;
  border-color: #77777d;
}

.hero__action {
  font-size: 16px;
  position: relative;
  line-height: 80%;
  letter-spacing: .02em;
  width: 400px;
  height: 220px;
  margin-top: 0px;
  margin-left: 120px;
  margin-bottom: 350px;
  
} 

/* .hero__btn {
  background-color: var(--FluxCapacitor);
  border: none;
  padding: 12px 24px;
  border-radius: 12px;
  text-transform: uppercase;
  cursor: pointer;
}*/

.main__article {
  padding: 48px 96px;
}

.main {
  line-height: 1.75;
  margin-bottom: 48px;;
}

.main__img {
  float: left;
  width: 300px;
  height: auto;
  margin-right: 24px;
  margin-bottom: 6px;
}

.footer {
  margin-top: auto;
  background-color: var(--FluxCapacitor);
  text-align: center;
  text-transform: uppercase;
  padding: 24px 0;
  color: var(--heavy);
}

@media screen and (max-width: 500px) {

  .header__nav {
    margin: auto;
    padding-left: 120px;
    padding-bottom: 20px;
    display: grid;
    text-align: center;
    font-size: 1rem;
  }

  .header__links {
    text-align: center;
  }
  .logo {
    width: 35%;
  }

  main > article {
    padding:10px 30px;
    min-height: 10vh;
    font-size: 1rem;
  }

 /*  main > article img {
    width: 200px;
    height: auto;
    float: none;
    display: block;
    margin: 0 auto;
  }
*/

  .main__article {
    margin: 20px 0px;
  }
}
